module.exports = {
    discordWebHookLink: "",
    whitelistCommand: "easywl add ${user}",
    filters: {
        minDate: '2020-12-28 00:00:00',
        minPriceRub: 59,
        maxPriceRub: 200,
    },
    donationAlerts: {
        token: "",
    },
    rcon: {
        host: "",
        port: "25575",
        pass: "",
    }
};
